[Unit]
Description=My webpp
After=cloud-final.service

[Service]
User=fall23
Group=csye6225
WorkingDirectory=/opt/webapp
EnvironmentFile=/opt/webapp/.env
ExecStart=/home/admin/.nvm/versions/node/v20.7.0/bin/node /opt/webapp/app.js
Restart=on-failure
RestartSec=5s
StandardOutput=append:/opt/webapp/app.log
StandardError=append:/opt/webapp/app.log

[Install]
WantedBy=cloud-init.target